/*============================== Imports ==================================== */


/*============================== Configurations ==============================*/
:root {
    /*=============== COLORS ===============*/
    --tundora-color: hsl(0, 0%, 25%);
    --shadow-color: hsl(36, 24%, 41%);
    --teak-color: hsl(37, 34%, 54%);

    /*=============== BACKGROUNDS ===============*/
    --input-checkbox--checked-background-color: var(--teak-color);
    --input-range-background-color: var(--tundora-color);
    --input-range-circle-background-color: var(--teak-color);
    --default-button-background-color: var(--teak-color);
    --default-button--hover-background-color: var(--shadow-color);

    /*=============== BORDERS ===============*/
    --input-checkbox-border-color: var(--teak-color);
    --card-border-color: var(--teak-color);

    /*=============== TEXTS ===============*/


    /*=============== FONTS ===============*/
    
}

/*============================== Generic Elements ==============================*/
body {
    --bege: #E6E0D6;

    font-family: 'Barlow', sans-serif;
}

/* ========== INPUTS ========== */
input[type="checkbox"] {
    border: 1px solid var(--input-checkbox-border-color);

    cursor: pointer;

    &:checked {
        background-color: var(--input-checkbox--checked-background-color);

        border-color: var(--input-checkbox-border-color);
    }

    &:focus {
        border-color: var(--input-checkbox-border-color);
        box-shadow: 0 0 0 0.25rem color-mix(in srgb, var(--input-checkbox-border-color) 40%, transparent 60%);
    }
}

input[type="range"] {
    &::-webkit-slider-runnable-track {
        background-color: var(--input-range-background-color);
    }

    &::-webkit-slider-thumb {
        background-color: var(--input-range-circle-background-color);
    }
}

.night-mode-input {
    background-color: transparent;
    
    /* Specificity */
    &.form-check-input {
        background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'><circle r='3' fill='%23b29463'/></svg>");
    }
    
    &:checked {
        background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'><circle r='3' fill='%23ffffff'/></svg>");
    }
}

/*============================== Generic Classes ==============================*/
/* BOOTSTRAP STYLES OVERRIDE */
/* CARD */
.card-body {
    border: 1px solid var(--card-border-color);
}

/* CUSTOM STYLES */
/* BANNERS */
.banner-1 {
    background-image: url("/assets/images/backgrounds/banner-1.png");
}
.banner-2 {
    background-image: url("/assets/images/backgrounds/banner-2.png");
}
.banner-3 {
    background-image: url("/assets/images/backgrounds/banner-3.png");
}

/* BUTTON */
.default-button {
    background-color: var(--default-button-background-color);

    &:hover {
        background-color: var(--default-button--hover-background-color);
    }
}

/*============================== Page - Top to Bottom ==============================*/
/* HEADER */
.banner {
    background-size: cover;
    background-attachment: fixed;

    height: 100vh;
}

/* CONTACT */
.contact-container {
    min-width: 20rem;
}

/*============================== Responsive Layouts ==============================*/